<style>
   .icon {
      font-size: 20px;
   }
   .icons {
      font-size: 30px;
   }
   .disabled {
      cursor: pointer;
      pointer-events: none;
   }
   .page-item {
      cursor: pointer;
   }
</style>
<div class="container-scroller">
   {{> dashboardNavbar}}
   <div class="container-fluid page-body-wrapper">
      {{> dashboardSidebar}}
      <div class="main-panel">
         <div class="content-wrapper">
            <div class="row mt-5">
               <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                     <div class="card-body">
                        <p class="card-title">Jami buyurtmalar</p>
                        <div class="row">
                           <div class="col-12">
                              {{#if orders}}
                                 <div class="table-responsive">
                                    <table id="example" class="display expandable-table table-hover text-center" style="width:100%">
                                       <thead>
                                          <tr>
                                             <th>№</th>
                                             <th>F.I.SH.</th>
                                             <th>Viloyat</th>
                                             <th>Telefon raqam</th>
                                             <th>Mahsulot nomi</th>
                                             <th>Turi</th>
                                             <th>Lampa</th>
                                             <th>Jami summa</th>
                                             <th>Bekor qilish</th>
                                             <th>Muvaffaqqiyatli</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {{#each orders}}
                                           <tr>
                                             <td class="index">{{@index}}</td>
                                             <td>{{fullName}}</td>
                                             <td>{{region}}</td>
                                             <td>{{phone}}</td>
                                             <td>{{productName}}</td>
                                             <td>{{typeFlowers}}</td>
                                             <td>
                                                {{#if withLamp}} 
                                                   Bor
                                                {{else}}
                                                   Yo'q
                                                {{/if}}
                                             </td>
                                             <td>{{totalPrice}} so'm</td>
                                             <td>
                                                   {{#ifEquals status 'new'}}
                                                   <form action="/order/cancel/{{_id}}" method="POST">
                                                      <button type="submit" class="btn btn-danger">Bekor qilish</button>
                                                   </form>
                                                   {{else}}
                                                   <form action="/order/cancel/{{_id}}" method="POST">
                                                      <button type="submit" disabled class="btn btn-danger">Bekor qilish</button>
                                                   </form>
                                                   {{/ifEquals}}
                                             </td>
                                             <td>
                                                {{#ifEquals status 'new'}}
                                                <form action="/order/success/{{_id}}" method="POST">
                                                   <button type="submit" class="btn btn-success">Success</button>
                                                </form>
                                                {{else}}
                                                <form action="/order/success/{{_id}}" method="POST">
                                                   <button disabled type="submit" class="btn btn-success">Success</button>
                                                </form>
                                                {{/ifEquals}}
                                             </td>
                                          </tr>
                                          {{/each}}
                                       </tbody>
                                    </table>
                                 </div>
                                 <nav class="mt-4">
                                    <ul class="pagination">
                                       {{#paginate pagination type="previous"}}
                                          <li {{#if disabled}}class="page-item disabled"{{/if}}><a href="?page={{n}}&limit=10" class="page-link">Prev</a></li>
                                       {{/paginate}}
                                       {{#paginate pagination type="middle"}}
                                          <li {{#if active}}class="page-item active"{{/if}}>
                                             <a href="?page={{n}}&limit=10" class="page-link">{{n}}</a>
                                          </li>
                                       {{/paginate}}
                                       {{#paginate pagination type="next"}}
                                          <li {{#if disabled}}class="page-item disabled"{{/if}}>
                                             <a href="?page={{n}}&limit=10" class="page-link">Next</a>
                                          </li>
                                       {{/paginate}}
                                    </ul>
                                 </nav>
                              {{else}}
                                 <div class="alert alert-danger">
                                    Bugun buyurtmalar mavjud emas
                                 </div>
                              {{/if}}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {{> dashboardFooter}}
      </div>
   </div>
</div>

<script>
   let el = document.querySelectorAll('.index')

   el.forEach(e => {
      let i = Number(e.innerHTML)

      e.innerHTML = ++i
   })
</script>