<style>
   .disabled {
      cursor: pointer;
      pointer-events: none;
   }
   .page-item {
      cursor: pointer;
   }
</style>

{{> navbar}}

<section class="products" id="products" style="margin-top: 4rem;">
   {{#if products}}
   <div class="w-100 alert alert-danger text-dark d-flex justify-content-center align-items-center text-uppercase ">
      <h1>Barcha</h1>
      <h1 class="ml-2" style="color: #e84393;">mahsulotlar</h1>
   </div>
   <div class="row">
      {{#each products}}
         <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card">
               <div class="card-header text-danger bg-white text-center">
                  <p class="card-title mb-0 pb-0" style="color: #e84393;">{{title}}</p>
               </div>
               <img src="{{image}}"style="height: 220px;"  class="img-fluid w-100" alt="">
               <div class="card-footer bg-white">
                  <a class="btn btn-outline-danger d-block" href="/product/{{_id}}">To'liq</a>
               </div>
            </div>
         </div>
      {{/each}}
   </div>
   <nav>
      <ul class="pagination justify-content-center">
         {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="page-item disabled"{{/if}}><a href="?page={{n}}&limit=9" class="page-link">Prev</a></li>
         {{/paginate}}
         {{#paginate pagination type="middle"}}
            <li {{#if active}}class="page-item active"{{/if}}>
               <a href="?page={{n}}&limit=9" class="page-link  ">{{n}}</a>
            </li>
         {{/paginate}}
         {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="page-item disabled"{{/if}}>
               <a href="?page={{n}}&limit=9" class="page-link">Next</a>
            </li>
         {{/paginate}}
      </ul>
   </nav>
   {{else}}
      <div class="alert alert-danger text-center">Mahsulotlar mavjud emas</div>
   {{/if}}
</section>