<section class="products" id="products">
    {{#if products}}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger text-dark text-center text-uppercase">
                <h1 class="title">Oxirgi mahsulotlar</h1>
            </div>
        </div>
    </div>
    <div class="row">
        {{#each products}}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                <div class="card shadow">
                    <div class="card-header text-danger bg-white text-center">
                        {{title}}
                    </div>
                    <img src="{{image}}" class="img-fluid w-100" alt="{{title}}" style="height: 220px;">
                    <div class="card-footer bg-white">
                        <a class="btn btn-outline-danger d-block" href="/product/{{_id}}">To'liq</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="text-center mt-4">
        <a href="/all/products" class="btn btn-outline-danger">Barcha mahsulotlar</a>
    </div>
    {{else}}
    <div class="alert alert-danger text-center">
        Mahsulotlar qo'shilmagan
    </div>
    {{/if}}
</section>

